# Logs
/frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Node modules
/frontend/node_modules

# Editor directories and files
/frontend/.vscode/*
!.frontend/.vscode/extensions.json
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

frontend/*.tsbuildinfo

frontend/eslintcache

# Cypress
/frontend/cypress/videos/
frontend/cypress/screenshots/

# Vitest
frontend/__screenshots__/
Frontend/dist/assets/index-DqPnHqXL.js
Frontend/dist/assets/index-CSDL-geF.css
